.idea
# Helm build artifacts
Chart.lock
**/charts/
*.tgz

# Local docs
docs/

# Secrets
.env
*secret*
!services/*/templates/externalsecret.yaml

/*.md
!/README.md

Pulumi.*.yaml
!pulumi/Pulumi.*.yaml
